@use "../abstracts/mixins" as *;

section.call-to-action {
  width: 100%;
  height: 325px;
  @include responsive(xxl) {
    height: 375px;
  }
}

.container-fluid-cta {
  width: 100%;
  height: 100%;
  background-image: url(https://res.cloudinary.com/dn9mr6kwc/image/upload/c_scale,q_auto:eco,w_1600/v1661336074/Amara-ecommerce/call-to-action-summer-bg_euc6kp.webp);
  display: flex;
  justify-content: center;
  align-items: center;

  .section-title {
    margin-block-end: 1rem;
    span {
      display: inline-block;
      color: rgb(228, 26, 26);
    }
  }
  .call-to-action-title {
    font-size: var(--step-3);
  }

  .call-to-action-btn {
    @include square-button;
    margin-inline: auto;
    @include responsive(lg) {
      margin: 2.1rem auto;
    }
    font-size: var(--step--1);
  }

  .call-to-action-content {
    padding-inline: 0.5rem;
  }
}
