@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.category {
  .container-fluid {
    max-width: 100%;
  }
  padding-block-end: 0 !important;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  .category-item {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;

    @include responsive(xs) {
      flex-basis: calc(50% - 15px);
    }
    @include responsive(lg) {
      flex-basis: calc(33% - 20px);
    }
  }
}

.category-banner {
  background: var(--cultured);
  aspect-ratio: 2 / 2.35;
  overflow: hidden;
}

.category-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-2);
}

.category-item:hover .category-banner img {
  transform: scale(1.05);
}

.category-item .btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding-inline: 30px;
}
