@use "../abstracts/mixins" as *;

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-image: url("https://raw.githack.com/marcosgonzalezmarcial/e-commerce-mvp/new-images/src/assets/images/bg-orange-man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: var(--window-height, 100vh);
  

  .hero-content {
    position: relative;
    display: grid;
    height: 100%;
    max-height: calc(var(--window-height) - 65px);
    width: 100%;

    @include responsive(md) {
      .hero-title,
      .hero-subtitle,
      .btn.btn-primary {
        display: none;
      }
      
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 0.65fr 0.35fr;
      gap: 0.5rem;

      .hero-left {
        background-color: var(--white);
        background-image: url("https://raw.githack.com/marcosgonzalezmarcial/e-commerce-mvp/new-images/src/assets/images/bg-blue-woman.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 10%;
      }
      .hero-right {
        background-color: var(--white);
        background-image: url("https://raw.githack.com/marcosgonzalezmarcial/e-commerce-mvp/new-images/src/assets/images/bg-orange-man.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 10%;
      }
    }
  }

  .container {
    width: 100%;
  }

  @include responsive(md) {
    background-image: none;
  }
}

.hero-title-right {
  max-width: 5ch;
  justify-self: right;
  align-self: center;
  padding-bottom: 3.5rem;
  margin-inline-end: 1rem;
  max-width: 5.5ch;
  font-size: 3rem !important;
  color: hsl(165, 63%, 61%) !important;
  color: #fff !important;
  text-shadow: 1.5px 1.5px hsl(0, 0%, 0%);
  text-align: right;

  @include responsive(md) {
    display: none;
  }
}
.hero-title-left {
  max-width: 5.5ch;
  justify-self: start;
  align-self: end;
  padding-inline-start: 1rem;
  padding-block-start: 3rem;
  font-size: 3rem !important;
  color: hsl(165, 63%, 61%) !important;
  color: #fff !important;
  text-shadow: 1.5px 1.5px hsl(0, 0%, 0%);

  @include responsive(md) {
    display: none;
  }
}

.hero-left {
  display: none;

  @include responsive(md) {
    display: grid;
    height: 100%;
  }
}
.hero-right {
  display: none;

  @include responsive(md) {
    display: grid;
    height: 100vh;
  }
}

.btn.btn-secondary-bg {
  @include responsive(md) {
    display: none;
  }
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  justify-self: center;
  align-self: center;
  border-radius: 3;
  border-color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition-property: transform, background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  line-height: 0.1rem;
  padding: 1rem 1.5rem;
  letter-spacing: 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  background-color: transparent;
  color: white;
  margin-block-start: 9rem;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    transform: scale(1.05);
  }
}
.btn.btn-secondary-bg-xxl {
  display: none;
  
  @include responsive(md) {
    display: block;
    height: auto;
    color: #fff;
    justify-self: center;
    align-self: center;
    margin-block-start: 20vh;
    border-radius: 0;
    font-size: var(--fs-10);
    font-weight: 500;
    letter-spacing: 0.01rem;
    padding-inline: 1rem;
    color: black;
    padding-block: 0.5rem;
    background-color: rgba(255, 255, 255, 0.85);
    // transition-property: background-color, box-shadow;
    // transition-duration: 275ms;
    // transition-timing-function: ease-in-out;
  }
  
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
    background-color: rgba(255, 255, 255, 0.68);
  }
}
