@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  min-height: 80vh;
  padding-block: var(--section-padding);
  display: flex;
  align-items: center;
  
  // @include responsive(md){
  //   background-position: center;
  //   // min-height: 800px;
  // }
}

.hero .container { width: 100%; }

.hero-subtitle {
  color: var(--eerie-black);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 35px;
  max-width: 12ch;
}




