// @use '../abstracts/variables' as *;
@use "../abstracts/mixins" as *;

/*-----------------------------------*\
 * #NEWSLATTER
\*-----------------------------------*/

.newsletter {
  padding-bottom: 120px;
}

.newsletter-card {
  background-color: var(--cultured);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding: 80px 15px;
  text-align: center;
  * {
    @include responsive(md) {
      max-width: 480px;
      margin-inline: auto;
    }
  }
  .card-form {
    @include responsive(md) {
      position: relative;
    }
    @include responsive(lg) {
      max-width: 650px;
    }
  }
}

.newsletter-card .card-title {
  color: var(--eerie-black);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  line-height: 1.2;
  margin-bottom: 30px;
}

.newsletter-card .card-text {
  margin-bottom: 30px;
}

.newsletter-card .input-wrapper {
  position: relative;
  margin-bottom: 20px;
  @include responsive(md) {
    margin-bottom: 0;
  }
}

.newsletter-card .input-field {
  background: var(--white);
  height: 60px;
  padding-inline: 50px 20px;
  border-radius: 6px;
}

.newsletter-card .input-wrapper ion-icon {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.newsletter-card .btn {
  gap: 10px;
  @include responsive(md) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: max-content;
    padding-inline: 35px;
    border-radius: 0 6px 6px 0;
  }
}
