@use "../abstracts/mixins" as *;

.section.products {
  scroll-margin-block-start: 70px;
  scroll-behavior: smooth;
  padding-block-end: 2.5rem;
  .container-fluid{
    scroll-behavior: smooth;
  };
}

.products__filter-btn {
  color: inherit;
  font-size: var(--step--1);
  font-weight: var(--fw-500);
  &.active {
    color: var(--eerie-black);
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 25px;
  margin-bottom: 45px;
  
  @include responsive(xs) {
     li {
      width: calc(50% - 12.5px);
    }
  }
  @include responsive(lg) {
    li {
      width: calc(33.33% - 16.66px);
    }
  }
  @include responsive(xl) {
    li {
      width: calc(25% - 18.75px);
    }
  }
}

.products__btn {
  @include btn-outline;
}

.products__filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  margin-bottom: 50px;
}

.products__title {
  @include heading-1;
  @include section-title;
}