@use "../abstracts/mixins" as *;

.section.products {
  scroll-margin-block-start: 70px;
  scroll-behavior: smooth;
  padding-block-end: 2.5rem;
  .container-fluid{
    scroll-behavior: smooth;
  };
}

.products__filter-btn {
  color: inherit;
  font-size: var(--step--1);
  font-weight: var(--fw-500);
  &.active {
    color: var(--eerie-black);
  }
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;;
  gap: 15px;
  margin-bottom: 25px;
  @include responsive(sm){
    // gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  @include responsive(md){
    // gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  @include responsive(lg){
    // gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}

.products__btn {
  @include btn-outline;
}

.products__filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  margin-bottom: 50px;
}

.products__title {
  @include heading-1;
  @include section-title;
}