@use "../abstracts/mixins" as *;

.section.product .container {
  @include responsive(xxl) {
    max-width: 90%;
  }
}

.section.product {
  padding-block-end: 0 !important;
}
.filter-btn {
  color: inherit;
  font-size: var(--fs-7);
  font-weight: var(--fw-500);

  &.active {
    color: var(--eerie-black);
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 25px;
  margin-bottom: 45px;
}

@include responsive(xs) {
  .product-list > li {
    width: calc(50% - 12.5px);
  }
}

@include responsive(lg) {
  .product-list > li {
    width: calc(33.33% - 16.66px);
  }

  .product-card .card-banner {
    overflow: hidden;
  }
}
@include responsive(xl) {
  .product-list > li {
    width: calc(25% - 18.75px);
  }
}

// centering bottom button in Porducts section
.product .btn {
  margin-inline: auto;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  margin-bottom: 50px;
}

.filter-btn {
  color: inherit;
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.filter-btn.active {
  color: var(--eerie-black);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 25px;
  margin-bottom: 60px;
}
