.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.service__item {
  max-width: 235px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.service__icon {
  width: 45px;
}

.service__title {
  color: var(--eerie-black);
  font-size: var(--step--1);
  font-weight: var(--fw-600);
}

.service__subtitle {
  font-size: var(--step--2);
}
