@use "../abstracts/mixins" as *;

// mobile first approach

//to avoid scrolling when the shopping-bag is opened on small screens
.scroll-control {
  position: relative;
  overflow: hidden;
  // overscroll-behavior: none;
  @include responsive(sm) {
    overflow: auto;
    // overscroll-behavior: normal;
  }
}

.shopping-bag-container {
  // max-height on desktop 568px
  --height: 568px;
  position: fixed;
  top: var(--header-height, 50px);
  right: 0rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: calc(
    100% - calc(var(--header-actions-height) + var(--header-height))
  );
  overflow: hidden;
  pointer-events: fill;
  background: var(--white);
  box-sizing: border-box;
  opacity: 1;
  transform: translateX(100%);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  border-top: none;
  // fix rendering on ios devices
    /* CSS specific to iOS devices */
  @supports (-webkit-touch-callout: none) {
    overscroll-behavior: none;
    max-height: calc(100% - var(--header-height));
  }

  @include responsive(sm) {
    max-width: 60%;
  }
  @include responsive(md) {
    max-width: 400px;
  }
  @include responsive(lg) {
    right: 0.5rem;
    animation: shoppingBagDontShow 0.4s forwards;
    transform: translateX(0);
    height: auto;
    overflow: hidden;
    max-height: var(--height);
  }

  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-property: transform;
}

.shopping-bag {
  padding: 0.5rem 1rem;
  height: 100%;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;

  @include responsive(md) {
    border: 1px solid darkgray;
  }

  @include responsive(lg) {
    border: 1px solid darkgray;
    overflow: auto;
    max-height: var(--height);
  }
}

.show-bag {
  transform: translateX(0);
  @include responsive(lg) {
    animation: shoppingBagShow 0.7s forwards;
  }
}

// .close-bag {
//   font-size: 1.7rem;
//   cursor: pointer;
// }

.bag-title {
  color: var(--black);
  font-size: var(--step--2);
  font-weight: var(--fw-400);
  letter-spacing: 0.3px;
  line-height: 22px;
  flex-basis: 5%;
  // overscroll-behavior: none;
  padding-block: 0.5rem;
}

.shopping-bag-body {
  // overscroll-behavior: none;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(210, 210, 210);
  }

  @include responsive(lg) {
    margin-inline: 0 -1rem;
    max-height: 370px;
    overflow: auto;
  }
}

.shopping-bag-item {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 16px;

  @include responsive(lg) {
    margin-inline-end: 1rem;
  }

  .shopping-bag-item-banner {
    width: 100%;
    img {
      aspect-ratio: 3 / 4;
      width: 100%;
    }
  }
  .shopping-bag-item-description {
    display: grid;
    grid-template-rows: 0.7fr 0.3fr;
    color: var(--black);
    font-size: var(--step--3);

    .item-description-top {
      display: grid;
      grid-template-columns: 0.8fr 0.2fr;
    }
    .item-description-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

@keyframes shoppingBagShow {
  0% {
    max-height: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    max-height: var(--height);
    opacity: 1;
  }
}

@keyframes shoppingBagDontShow {
  0% {
    max-height: var(--height);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    max-height: 0%;
    opacity: 0;
  }
}

.shopping-bag-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
  padding: 0.5rem;
  gap: 0.5rem;

  @include responsive(lg) {
    padding-inline-start: 0;
  }

  span {
    display: inline-block;
  }

  // overscroll-behavior: none;
  flex-basis: 15%;

  .shopping-bag-footer-item {
    display: flex;
    justify-content: space-between;

    color: var(--black);
    font-size: var(--step--3);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 22px;

    .shopping-bag-subtotal-text,
    .shopping-bag-subtotal {
      font-size: var(--step--2);
      font-weight: var(--fw-500);
    }
  }

  .shopping-bag-checkout-btn {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.shopping-bag-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block-end: 0.5rem;
  .bag-close-btn {
    font-size: 1.35rem;
  }
}

.bag-title {
  display: flex;
}
