@use '../abstracts/mixins' as *;

.shopping-bag {
  position: fixed;
  top: 74px;
  width: 100%;
  right: 0%;
  padding: 1.5rem;
  // transition: all 0.35s ease-in-out;
  z-index: 1;
  // transform: translateX(100%);
  max-height: 0;
  opacity: 0;
  border: 1px solid grey;
  overflow: hidden;
  box-sizing: border-box;
  pointer-events: fill;
  background: var(--white);
  
  transition-duration: 325ms;
  transition-property: all;
  transition-timing-function: linear;
  
  // animation: shoppingBag 0.3s backwards;
  
  @include responsive(sm) {
    width: 50%;
  }
  @include responsive(md) {
    max-width: 450px;
  }
  @include responsive(lg) {
    top: 104px;
  }
  @include responsive(xl) {
    top: 83px;
  }
  
}



.show-bag {
  // transition: max-height 0.3s linear;
  // transform: translateX(0%);
  // transition: all 0.325s linear;
  max-height: 250px;
  opacity: 1;

  // animation: shoppingBag 0.3s forwards;
  
}

.close-bag {
  font-size: 1.7rem;
  cursor: pointer;
}



@keyframes shoppingBag {
  0% {
      height: 0;
      opacity: 0
  }
  1% {
      opacity: 1
  }
  100% {
      height: 250px;
      opacity: 1
  }
}

