@use '../abstracts/mixins' as *;

.arrow {
  position: fixed;
  top: var(--triangle-border-top);
  width: 10px; 
  height: 10px; 
  border: none;
  background-color: none;
  // high z-index to position the triangle on top of the navbar
  z-index: 1000;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 125ms linear;
  transition-property: opacity, border-left-color, border-top-color, background-color;
  left: var(--triangle-border-left);
  display: none;
  @include responsive(lg) {
    display: block;
  }

}
.arrow-up {
  opacity: 1;
  background-color: var(--white);
  border: 1px solid grey;
  border-right-color: var(--white);
  border-bottom-color: var(--white);


  @include responsive(md){
    top: 99px;
  }
  @include responsive(lg){
    top: 80px;
  }
  @include responsive(xl){
    top: 78px;
  }
}