@use "../../abstracts/mixins" as *;

.product-card__actions {
  display: flex;
  height: 45px;
}

@include responsive(lg) {
  .product-card .product-card__actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    transform: translateY(100px);
    visibility: hidden;
    transition: var(--transition-1);
  }

  .product-card .product-card__banner:hover .product-card__actions {
    visibility: visible;
    transform: translateY(0);
  }
}
