@use "../../abstracts/mixins" as *;

.product-card {
  .card-banner {
    position: relative;
    img {
      width: 100%;
      aspect-ratio: 3 / 3.75;
      transition: transform 400ms ease-in-out;
      @include responsive(lg) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .card-badge {
    background: var(--eerie-black);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    // font-size: var(--fs-9);
    font-size: var(--step--2);
    font-weight: var(--fw-500);
    padding: 3px 10px;

    &.red {
      background: var(--candy-pink);
    }
    &.green {
      background: var(--ocean-green);
    }
  }

  .card-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--eerie-black);
    color: var(--white);
    border-color: var(--eerie-black);
    font-size: var(--step--2);
    font-weight: var(--fw-500);

    &:is(:active) {
      background-color: lighten($color: black, $amount: 25%);
      color: var(--white);
    }
    &:is(:hover) {
      background-color: lighten($color: black, $amount: 40%);
      // color: var(--white);
    }

    // @include responsive (lg) {
    //   &:is(:hover) {
    //     background-color: var(--white);
    //     color: var(--eerie-black);
    //   }
    // }
  }

  // .cart-btn {

  // }

  .card-title {
    color: #121314;
    font-weight: 300;
    // font-size: 16px;
    font-size: var(--step--2);
    line-height: 22px;
    letter-spacing: 0.3px;
  }

  .card-price {
    color: red;
    font-size: var(--step--2);
    line-height: 22px;
    letter-spacing: 0.3px;
    data:not(:first-child) {
      color: var(--sonic-silver);

      text-decoration: line-through;
    }
  }
}

.card-content {
  padding: 0.75rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  .card-price {
    width: min-content;
  }
  p {
    text-align: center;
  }
}

.heart-icon-wrapper {
  margin-inline-start: auto;
  width: 22px;
  img {
    width: 100%;
  }
}

.heart-icon {
  pointer-events: none;
  user-select: none;
}
.heart-icon-hide {
  display: none;
}

.heart-icon-filled {
  pointer-events: none;
  user-select: none;
  display: none;
}
.heart-icon-filled-show {
  display: block;
}
