@use "../../abstracts/mixins" as *;

.product-card {
  .card-banner {
    position: relative;
    // margin-bottom: 20px;
    img {
      width: 100%;
      aspect-ratio: 3 / 3.75;
      transition: transform 400ms ease-in-out;
      @include responsive(lg) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .card-badge {
    background: var(--eerie-black);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    padding: 3px 10px;

    &.red {
      background: var(--candy-pink);
    }
    &.green {
      background: var(--ocean-green);
    }
  }

  .card-action-btn {
    border: 1px solid var(--cultured);
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--white);
    color: var(--eerie-black);
    border-color: var(--eerie-black);

    &:is(:hover, :focus) {
      border-color: var(--eerie-black);
    }

    ion-icon {
      font-size: 22px;
    }
  }

  .cart-btn {
    flex-grow: 1;
    background: var(--eerie-black);
    color: var(--white);
    border-color: var(--eerie-black);
    font-weight: var(--fw-500);

    &:is(:hover, :focus) {
      background-color: var(--white);
      color: var(--eerie-black);
    }
  }

  .card-title {
    color: #121314;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
  }

  .card-price {
    color: red;
    // color: #121314;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
    data:not(:first-child) {
      color: var(--sonic-silver);

      text-decoration: line-through;
    }
  }
}

.card-content {
  padding: 0.75rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  [name="heart-outline"] {
    justify-self: end;
    font-size: 22px;
  }

  .card-price {
    width: min-content;
  }
  p {
    text-align: center;
  }
}
