@use "../../abstracts/mixins" as *;

.product-card {

  &__banner {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      aspect-ratio: 3 / 3.75;
      transition: var(--transition-3);
      object-fit: cover;
    }
    @include responsive(lg) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--eerie-black);
    color: var(--white);
    border-color: var(--eerie-black);
    font-size: var(--step--2);
    font-weight: var(--fw-500);

    &:is(:active) {
      background-color: #80c2bd;
    }
    @include responsive(lg) {
      &:is(:hover) {
        background-color: lighten($color: black, $amount: 33.33%);

        &:is(:active) {
          background-color: #80c2bd;
        }
      }
    }

    p {
      pointer-events: none;
    }
  }

  &__title {
    color: var(--eerie-black);
    font-size: var(--step--2);
    font-size: 13px;
    font-weight: var(--fw-500);
    line-height: 20px;
    letter-spacing: 0.3px;
    @include responsive(sm) { 
      font-size: var(--step--2);
    }
  }

  &__price {
    width: min-content;
    color: red;
    // font-size: var(--step--2);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    data:not(:first-child) {
      color: var(--sonic-silver);
      text-decoration: line-through;
    }
    @include responsive(sm) { 
      font-size: var(--step--2);
    }
  }

  &__content {
    padding: 0.75rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    p {
      text-align: center;
    }
  }

  &__heart-icon-wrapper {
    margin-inline-start: auto;
    width: 22px;
    img {
      width: 100%;
    }
    user-select: none;
  }
  &__heart-icon {
    pointer-events: none;
    user-select: none;
  }
  &__heart-icon-hide {
    display: none;
  } 
  &__heart-icon-filled {
    pointer-events: none;
    user-select: none;
    display: none;
  }
  &__heart-icon-filled-show {
    display: block;
  }
}

