@mixin responsive($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media (min-width: 580px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  // @if $breakpoint == xxl {
  //   @media (min-width: 1400px) {
  //     @content;
  //   }
  // }
    @if $breakpoint ==xxl {
      @media (min-width: 1320px) {
        @content;
      }
    }
}

@mixin border-bottom {
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

@mixin square-button() {
  display: block;
  height: auto;
  color: var(--white);
  justify-self: center;
  align-self: center;
  border-radius: 0;
  font-size: var(--step--2);
  font-weight: var(--fw-500);
  letter-spacing: 0.01rem;
  padding-inline: 1em;
  color: black;
  padding-block: 0.5em;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid var(--border-color, var(--eerie-black));

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
    background-color: rgba(255, 255, 255, 0.68);
  }
}
