@mixin responsive($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: 480px) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media (min-width: 580px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
    @if $breakpoint == xxl {
      @media (min-width: 1320px) {
        @content;
      }
    }
}

@mixin border-bottom {
  border-bottom: 1px solid #e7e7e7;
}

@mixin square-button {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: var(--step--2);
  font-weight: var(--fw-500);
  background-color: rgba(255, 255, 255, 0.80);
  border: 1px solid var(--border-color, var(--eerie-black));
  letter-spacing: 0.01rem;
  padding-inline: 1em;
  padding-block: 0.75em;
  margin-inline: auto;
  text-align: center;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
    background-color: rgba(255, 255, 255, 0.99);
  }
}

@mixin btn {
  background: var(--background, var(--eerie-black));
  color: var(--color, var(--white));
  font-size: var(--step--2);
  font-weight: var(--fw-600);
  height: var(--btn-height);
  border: 1px solid var(--border-color, var(--eerie-black));
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  &:is(:hover, :focus) {
    --background: var(--white);
    --color: var(--eerie-black);
    --border-color: var(--eerie-black);
  }
}


@mixin btn-secondary {
  @include btn;
  --background: var(--white);
  --color: var(--eerie-black);
  --border-color: var(--white);
  &:is(:hover, :focus) {
    --background: var(--eerie-black);
    --color: var(--white);
    --border-color: var(--eerie-black);
  }
}


@mixin btn-outline {
  @include btn-secondary();
  --border-color: var(--eerie-black);
  margin-inline: auto;
  padding-inline: 40px;
}


@mixin heading {
  color: var(--eerie-black);
  font-weight: var(--fw-600);
  text-align: center;
}

@mixin heading-1 {
  @include heading;
  font-size: var(--step-3);
  font-weight: var(--fw-600);
  line-height: 1;
}
@mixin heading-2 {
  @include heading;
  font-size: var(--step-2);
}

@mixin heading-3 {
  @include heading;
  font-size: var(--step--1);
}
@mixin heading-4 {
  @include heading;
  font-size: var(--step-0);
}

@mixin section-title {
  text-align: center;
  margin-bottom: 2rem;
}