@use "../../abstracts/mixins" as *;

.header-actions {
  background: var(--cultured);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding-block: 16px;
  box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
  z-index: 1;
  border-top: 1px solid lightgray;

  @include responsive(lg) {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  .header-action-btn {
    position: relative;
    // width: max-content;
    text-align: center;

    .header-action-label {
      pointer-events: none;
      color: var(--sonic-silver);
      font-size: var(--fs-10);
      transition: var(--transition-1);
    }

    &.active {
      transform: scale(1.175);
      color: var(--middle-blue-green);
      p {
        color: var(--middle-blue-green);
      }
    }

    ion-icon {
      margin-inline: auto;
      font-size: 1.375rem;
      margin-bottom: 3px;
    }

    .btn-badge {
      position: absolute;
      top: -5px;
      right: 0;
      background: var(--background, var(--eerie-black));
      width: 20px;
      height: 20px;
      display: grid;
      place-items: center;
      line-height: 0;
      font-size: 13px;
      color: var(--white);
      border-radius: 50%;
      pointer-events: none;
      &.green {
        --background: var(--middle-blue-green);
      }
    }

    &:hover {
      transform: scale(1.175);
      color: var(--middle-blue-green);
      p {
        color: var(--middle-blue-green);
      }
    }
  }
}
