@use "../../abstracts/mixins" as *;
/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  min-height: 50px;
  padding-block: 10px;
  z-index: 99;
  margin-inline: auto;

  @include border-bottom;

  .container-fluid {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }

  @include responsive(md) {
    box-shadow: none;
    border: none;
  }

  @include responsive(lg) {
    min-height: 62px;
    .container-fluid {
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // @include responsive(xl) {
  //   margin-inline: auto;
  //   // max-width: 100%;
  // }

 

  & .logo {
    place-self: center;
    img {
      height: 26px;
      width: 106px;
      @include responsive(lg) {
        height: 35px;
        width: 146px;
      }
    }
  }
}

.scroll-border {
  @include border-bottom;
}

// .header-search {
//   display: none;

//   @include responsive(lg) {
//     display: block;
//     position: relative;
//     width: max-content;
//   }

//   & .input-field {
//     &:focus {
//       @include responsive(lg) {
//         outline: 1px solid var(--eerie-black);
//       }
//     }
//     @include responsive(lg) {
//       border: 1px solid hsla(0, 0%, 0%, 0.1);
//       width: 280px;
//       padding: 12px 30px;
//       border-radius: 6px;
//       transition: var(--transition-1);
//     }
//     @include responsive(xl) {
//       width: 350px;
//     }
//   }
//   & .search-btn {
//     @include responsive(lg) {
//       position: absolute;
//       top: 50%;
//       right: 15px;
//       transform: translateY(-50%);
//       font-size: 20px;
//       color: var(--eerie-black);
//     }
//   }
// }
