@use "../../abstracts/mixins" as *;
/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

// .header-search {
//   display: none;

//   @include responsive(lg) {
//     display: block;
//     position: relative;
//     width: max-content;
//   }

//   & .input-field {
//     &:focus {
//       @include responsive(lg) {
//         outline: 1px solid var(--eerie-black);
//       }
//     }
//     @include responsive(lg) {
//       border: 1px solid hsla(0, 0%, 0%, 0.1);
//       width: 280px;
//       padding: 12px 30px;
//       border-radius: 6px;
//       transition: var(--transition-1);
//     }
//     @include responsive(xl) {
//       width: 350px;
//     }
//   }
//   & .search-btn {
//     @include responsive(lg) {
//       position: absolute;
//       top: 50%;
//       right: 15px;
//       transform: translateY(-50%);
//       font-size: 20px;
//       color: var(--eerie-black);
//     }
//   }
// }

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white);
  width: 100%;
  padding-block: 20px;
  z-index: 4;
  transition: var(--transition-1);
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.1);

  // &.active {
  //   position: fixed;
  //   // padding-block: 7px;
  //   box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.1);

  //   // @include responsive(lg) {
  //   //   position: relative;
  //   //   box-shadow: none;
  //   // }

  //   // & .navbar {
  //   //   @include responsive(lg) {
  //   //     position: fixed;
  //   //     top: 0;
  //   //     box-shadow: 0 2px 10px hsla(0, 0%, 0%, 20%);
  //   //     background-color: var(--cultured);
  //   //   }
  //   // }
  // }

  @include responsive(lg) {
    // position: relative;
    padding-block: 10px;
    // border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    // margin-bottom: 67px;
    background: var(--white);
  }
  // @include responsive(xl) {
  //   padding-block: 15px;
  // }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }

  & .logo {
    @include responsive(lg) {
      margin-inline: auto;
    }
  }
}


