@use "../../abstracts/mixins" as *;
/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  min-height: 50px;
  padding-block: 10px;
  z-index: 99;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.1);
  // border-bottom: 1px solid lightgray;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-block: 15px;

  // @include responsive(sm) {
  //   padding: 15px;
  // }

  @include responsive(lg) {
    padding: 15px;
    min-height: 60px;
    box-shadow: none;
  }
  @include responsive(xl) {
    // padding-block: 20px;
    min-height: 66px;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
    @include responsive(xxl) {
      padding-inline: 0;
    }
  }

  & .logo {
    img {
      height: 26px;
      width: 106px;
      @include responsive(lg) {
        height: 35px;
        width: 146px;
      }
    }
    @include responsive(lg) {
      margin-inline: auto;
    }
  }
}

// .header-search {
//   display: none;

//   @include responsive(lg) {
//     display: block;
//     position: relative;
//     width: max-content;
//   }

//   & .input-field {
//     &:focus {
//       @include responsive(lg) {
//         outline: 1px solid var(--eerie-black);
//       }
//     }
//     @include responsive(lg) {
//       border: 1px solid hsla(0, 0%, 0%, 0.1);
//       width: 280px;
//       padding: 12px 30px;
//       border-radius: 6px;
//       transition: var(--transition-1);
//     }
//     @include responsive(xl) {
//       width: 350px;
//     }
//   }
//   & .search-btn {
//     @include responsive(lg) {
//       position: absolute;
//       top: 50%;
//       right: 15px;
//       transform: translateY(-50%);
//       font-size: 20px;
//       color: var(--eerie-black);
//     }
//   }
// }
