@use "../../abstracts/mixins" as *;

.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  right: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 1.875rem 1.562rem;
  z-index: 3;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);

  // showing the side-navbar dynamiclly
  &.active {
    visibility: visible;
    transform: translateX(-300px);
    transition: 0.5s var(--cubic-in);
  }

  @include responsive(lg) {
    all: unset;
    width: 100%;
  }
}

// displaying side-bar menu > items on top
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.75rem;

  .nav-close-btn ion-icon {
    font-size: 1.5rem;
  }
}

.navbar-list {
  .navbar-link {
    padding-block: 0.6rem;
    color: var(--eerie-black);

    // &:is(:hover, :focus, :active) {
    //   transform: scale(1.1);
    //   // font-size: var(--fs-6);
    // }

    // view on large screens (above 992px)
    @include responsive(lg) {
      font-size: var(--fs-9);
      font-weight: var(--fw-400);
      letter-spacing: 1px;
    }
  }

  li {
    width: max-content;
    position: relative;
    a::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0%;
      background-color: var(--eerie-black);
      top: 2.05rem;
      left: 0;
      transition: width 275ms;
    }
    a:hover::after {
      width: 60%;
    }
    a:focus::after {
      width: 100%;
    }
  }

  @include responsive(lg) {
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }
}

// Overlay
.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 2;

  &.active {
    opacity: 0.7;
    pointer-events: all;
  }
}

.nav-open-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;

  span {
    width: 20px;
    height: 1px;
    background: var(--black);
    transition: var(--transition-1);
  }
}

// .nav-open-btn span {
//   width: 20px;
//   height: 2px;
//   background: var(--black);
//   transition: var(--transition-1);
// }

.nav-open-btn span:nth-child(2) {
  transform: scaleX(0.5);
  transform-origin: right;
}

.nav-open-btn:is(:hover, :focus) span:nth-child(2) {
  transform: scaleX(1);
}

@media (min-width: 992px) {
  .nav-open-btn,
  .navbar-top,
  .overlay {
    display: none;
  }
}
