@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  text-align: left;
  cursor: pointer;
}

input {
  width: 100%;
  outline-color: var(--middle-blue-green);
}

img { height: auto; }

ion-icon { 
  pointer-events: none; 
}

// html, body, main, footer {
//   overscroll-behavior-y: none;
// }

html {
  font-family: var(--ff-jost);
  color: var(--sonic-silver);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  padding-block: 70px;

  @include responsive(lg){
    padding-block: 0;
  }
}

/*-----------------------------------*\
 * #MEDIA QUARIES
\*-----------------------------------*/

/**
 * CUSTOM PROPERTY
 */

 :root {
  @include responsive(xs){
    --fs-1: 3rem;
    --fs-2: 2rem;
  }
  @include responsive(sm){
    --fs-1: 3.75rem;
    --fs-2: 2.375rem;
    --fs-3: 2.25rem;
  }
  @include responsive(lg){
    --fs-1: 5rem;
  }
  @include responsive(xl){
    --fs-1: 6.25rem;
  }
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { 
  padding-inline: 15px; 

  @include responsive(sm){
    max-width: 550px;
    margin-inline: auto;
  }
  @include responsive(md){
    max-width: 700px;
  }
  @include responsive(lg){
    max-width: 950px;
  }
  @include responsive(xl){
    max-width: 1235px;
  }
}

a,
button { transition: var(--transition-1); }

h3 > a { color: inherit; }

.h1,
.h2,
.h3,
.h4 {
  color: var(--eerie-black);
  font-weight: var(--fw-600);
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-6); }

.h4 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.btn {
  background: var(--background, var(--eerie-black));
  color: var(--color, var(--white));
  font-weight: var(--fw-600);
  height: var(--height, 60px);
  padding-inline: 50px;
  border: 1px solid var(--border-color, var(--eerie-black));
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary:is(:hover, :focus) {
  --background: var(--white);
  --color: var(--eerie-black);
  --border-color: var(--eerie-black);
}

.btn-secondary {
  --height: 50px;
  --background: var(--white);
  --color: var(--eerie-black);
  --border-color: var(--white);
}

.btn-secondary:is(:hover, :focus) {
  --background: var(--eerie-black);
  --color: var(--white);
  --border-color: var(--eerie-black);
}

.btn-outline {
  --height: 50px;
  --background: var(--white);
  --color: var(--eerie-black);
  --border-color: var(--eerie-black);
  padding-inline: 40px;
}

.btn-outline:is(:hover, :focus) {
  --background: var(--eerie-black);
  --color: var(--white);
  --border-color: var(--eerie-black);
}

.section { 
  padding-block: var(--section-padding); 
}

.w-100 { 
  width: 100%; 
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

