// @use 'abstracts/variables' as *;
@use "abstracts/mixins" as *;

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-jost);
  font-size: 16px;
  color: var(--sonic-silver);
  scroll-behavior: smooth;
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;/* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

body {
  background: var(--white);
  margin-inline: auto;
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;/* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  // text-align: left;
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

input {
  width: 100%;
  outline-color: var(--middle-blue-green);
}

ion-icon {
  pointer-events: none;
}

/*-----------------------------------*\
  * #REUSED STYLE
\*-----------------------------------*/

.container-fluid {
  width: 95%;
  // max-width: minmax(1400, 95%);
  margin-inline: auto;
  @include responsive(lg) {
      max-width: 1600px;
    }
}
a,
button {
  transition: var(--transition-1);
}

h3 > a {
  color: inherit;
}

// .h1,
// .h2,
// .h3 {
//   color: var(--eerie-black);
//   font-weight: var(--fw-700);
// }

// .h1 {
//   font-size: var(--step-3);
//   font-weight: var(--fw-700);
//   line-height: 1;
// }

.h2 {
  font-size: var(--step-2);
  color: var(--eerie-black);
  font-weight: var(--fw-600);
}

.h3 {
  font-size: var(--step--1);
}


.section {
  padding-block: var(--section-padding);
  &-title {
    text-align: center;
    margin-bottom: 2rem;
  }
}

