@use './components/index';
@use 'base';
@use './abstracts/mixins' as *;

/*-----------------------------------*\
* #style.css
\*-----------------------------------*/


/*-----------------------------------*\
 * #MEDIA QUARIES
\*-----------------------------------*/



/**
 * CUSTOM PROPERTY
 */

:root {
  @include responsive(xs){
    --fs-1: 3rem;
    --fs-2: 2rem;
  }
  @include responsive(sm){
    --fs-1: 3.75rem;
    --fs-2: 2.375rem;
    --fs-3: 2.25rem;
  }
}

/**
 * responsive for larger than 480px (--xs)screen
 */

@media (min-width: 480px) {

  /**
   * CUSTOM PROPERTY
   */

  // :root {

  //   /**
  //    * typography
  //    */

  //   --fs-1: 3rem;
  //   --fs-2: 2rem;

  // }



  /**
   * CATEGORY
   */

  // .category-list > li { width: calc(50% - 15px); }



  /**
   * PRODUCT
   */

  // .product-list > li { width: calc(50% - 12.5px); }



  /**
   * FOOTER
   */

  // .footer-brand { width: 100%; }

  // .footer-text { max-width: 470px; }

  // .footer-list { width: calc(50% - 20px); }

}

/**
 * responsive for larger than 580px (--sm) screen
 */

@media (min-width: 580px) {

  /**
   * CUSTOM PROPERTY
   */

  // :root {

  //   /**
  //    * typography
  //    */

  //   --fs-1: 3.75rem;
  //   --fs-2: 2.375rem;
  //   --fs-3: 2.25rem;

  // }



  /**
   * REUSED STYLE
   */

  // .container {
  //   max-width: 550px;
  //   margin-inline: auto;
  // }

}

/**
 * responsive for larger than 768px (--md) screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  // .container { max-width: 700px; }



  /**
   * HERO
   */

  // .hero {
  //   background-position: center;
    
  //   // min-height: 800px;
  // }



  /**
   * BLOG
   */

  // .blog-list > li { width: calc(50% - 15px); }



  /**
   * NEWSLETTER
   */

  // .newsletter-card > * {
  //   max-width: 480px;
  //   margin-inline: auto;
  // }

  // .newsletter-card .card-form { position: relative; }

  // .newsletter-card .input-wrapper { margin-bottom: 0; }

  // .newsletter-card .btn {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: max-content;
  //   padding-inline: 35px;
  //   border-radius: 0 6px 6px 0;
  // }



  /**
   * FOOTER
   */

  // .footer-list { width: calc(33.33% - 26.66px); }

  // .copyright,
  // .footer-bottom-list { margin-bottom: 0; }

  // .footer-bottom .container {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 25px 50px;
  // }

}

/**
 * responsive for larger than 992px (--lg) screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;

  }



  /**
   * RESET
   */

  body { padding-block: 0; }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }



  /**
   * HEADER
   */

  .header {
    position: relative;
    padding-block: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 67px;
  }

  .header.active {
    position: relative;
    box-shadow: none;
  }

  .header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .header-search {
    display: block;
    position: relative;
    width: max-content;
  }

  .header-search .input-field {
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    width: 280px;
    padding: 12px 30px;
    border-radius: 6px;
    transition: var(--transition-1);
  }

  .header-search .input-field:focus { outline: 1px solid var(--eerie-black); }

  .header-search .search-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--eerie-black);
  }

  .header-search .search-btn ion-icon { --ionicon-stroke-width: 30px; }

  .header .logo { margin-inline: auto; }

  .nav-open-btn,
  .header-action-btn:nth-child(2),
  .navbar-top,
  .overlay { display: none; }

  .header-actions {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  .navbar {
    all: unset;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background: var(--white);
  }

  .header.active .navbar {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar-list > li:not(:last-child) { border-bottom: none; }

  .navbar-link {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    padding-block: 20px;
  }

  .navbar-link:is(:hover, :focus) { color: var(--middle-blue-green); }



  /**
   * CATEGORY
   */

  .category-list > li:not(:first-child, :nth-child(2)) { width: calc(25% - 22.5px); }



  /**
   * PRODUCT
   */

  .product-list > li { width: calc(33.33% - 16.66px); }

  .product-card .card-actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    transform: translateY(100px);
    visibility: hidden;
    transition: var(--transition-1);
  }

  .product-card .card-banner { overflow: hidden; }

  .product-card .card-banner:hover .card-actions {
    visibility: visible;
    transform: translateY(0);
  }

  .product-card .card-action-btn:first-child { border-radius: 6px 0 0 6px; }

  .product-card .card-action-btn:last-child { border-radius: 0 6px 6px 0; }



  /**
   * BLOG
   */

  .blog-list > li { width: calc(33.33% - 20px); }



  /**
   * NEWSLETTER
   */

  .newsletter-card .card-form { max-width: 650px; }

}

/**
 * responsive for larger than 1200px (--xl) screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.25rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }



  /**
   * HEADER
   */

  .header-search .input-field { width: 350px; }



  /**
   * PRODUCT
   */

  .product-list > li { width: calc(25% - 18.75px); }



  /**
   * FOOTER
   */

  .footer-brand { width: calc(40% - 30px); }

  .footer-text { max-width: 340px; }

  .footer-list { width: calc(20% - 30px); }

  .footer-bottom .container { justify-content: space-between; }

}